/*
*   Table of content:
*
*   - 1. Typography
*   - 2. Colors
*   - 3. Fonts stack
*/


// 1. Typography
$root-font-size   : 62.5%;
$base-font-size   : 1.6rem;
$base-line-height : 1.5;

// 2. Colors
$c-primary   : #fff;
$c-secondary : #000;

// 3. Fonts stack
$f-primary   : 'Georgia, "DejaVu Serif", Norasi, serif';
$f-secondary : 'Arial, Helvetica, sans-serif';